name: CI-CD Workflow

on: [workflow_dispatch, push] 

jobs:
  build:
   runs-on: windows-latest
   steps:
    - name: Check Out repo
      uses: actions/checkout@v4
    - run: echo "Code check out"
    - name: Install Node
      uses: actions/setup-node@v4
      with: 
        node-version: '20.x'
    - run: npm ci
    - run: npm run build

  test:
   needs: build
   runs-on: windows-latest
   steps:
    - name: Check Out repo
      uses: actions/checkout@v4
    - run: echo "Code check out"
    - name: Install Node
      uses: actions/setup-node@v4
      with: 
        node-version: '20.x'
    - run: npm ci
    - run: npm test

  deploy-dev:
   needs: test
   runs-on: windows-latest
   environment: Development
   steps:
   - run: echo "${{ vars.api_URL }}"
   
  deploy-qa:
   needs: test
   runs-on: windows-latest
   environment: QA
   steps:
   - run: echo "${{ vars.api_URL }}"
